<%= form_for Address.new do |f| %>
  <div class="field">
  <%= f.label :"Enter Your Long a$$ URL" %><br>
  <%= f.text_field :longurl %>
  </div>
  <div class="actions">
    <%= f.submit :"Make Me Small" %>
  </div>
<% end %>
