<h1>Short Links</h1>



<div id="form">
<%= render 'form' %>
</div>




=
<div id="output_link">
  <p>Want one? plug it up there and find it Down here.</p>
  <%= link_to "http://localhost:3000/#{@addresses.last.id}", "http://localhost:3000/#{@addresses.last.id} ", :target => "_blank" %>
</div>
